@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// variables
$yellow:#FBFF22;
$black:#000000;
$grey:#999999;
$white:#ffffff;
$font-base:20px;




*{
  font-family: 'Poppins', sans-serif;
}
.main{
  min-height: 100vh;
  width: 100%;
  background-color: $black;
}
.container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
@import "reset.scss";
@import "components/header";
@import "components/intro";

