@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// variables
$yellow: #fbff22;
$black: #000000;
$grey: #999999;
$white: #ffffff;
$project-item-bg: #131313;
$font-base: 20px;

* {
  font-family: "Poppins", sans-serif;
}
.main {
  min-height: min-content;

  width: 100%;
  background-color: $black;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
@import "reset.scss";
@import "components/header";
@import "components/intro";
@import "components/projects";
