@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.main {
  min-height: min-content;
  width: 100%;
  background-color: #000000;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 108px;
}
.header__findMe {
  align-items: center;
  display: flex;
  column-gap: 30px;
}
.header__findMe__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.header__findMe__link {
  width: 50px;
  height: 50px;
  background-color: #fbff22;
  border: 1px solid #0F0F0F;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__findMe__link img {
  opacity: 1;
}
.header__nav {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.header__nav__item {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.header__nav__btn {
  color: #fbff22;
  font-size: 20px;
  border: 2px solid #FBFF22;
  border-radius: 5px;
  padding: 15px;
}

.intro {
  display: flex;
  min-height: 80vh;
  color: #ffffff;
}
.intro__left, .intro__right {
  width: 50%;
  height: 100%;
}
.intro__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.intro__hello {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.intro__title {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
}
.intro__title span {
  color: #fbff22;
}
.intro__directions {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #999999;
  position: relative;
  margin-bottom: 55px;
}
.intro__directions::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #999999;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.intro__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #999999;
}
.intro__imgBox {
  overflow: hidden;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fbff22;
}

.project {
  width: 100%;
}
.project .section__title__menu {
  user-select: none;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project .section__title__menu .section__title__bg {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 200px;
  font-weight: 600;
  -webkit-text-stroke: 2px rgba(153, 153, 153, 0.3);
}
.project .section__title__menu .section__title {
  user-select: none;
  position: absolute;
  z-index: 3;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #fbff22;
}
.project .projects__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 60px;
}
.project__item {
  width: 50%;
  min-height: 200px;
  background-color: #131313;
  border-radius: 20px;
  display: flex;
  padding: 25px;
}
.project__item__icon {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/projects/car-game.png");
  background-size: cover;
}
.project__item__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project__item__content__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #fbff22;
}
.project__item__content__btns {
  padding-left: 25px;
  width: 100%;
  display: flex;
  column-gap: 25px;
}
.project__item__content__btns a {
  text-align: center;
  width: 50%;
  border: 1px solid #fbff22;
  padding: 10px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
